.backGround 
{
    background-color: #E2DAC8;
    margin-top: 15px;
    margin-bottom: 15px;
    
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

body
{
    background-color: #B5AFA2;
}